<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="../stylesheetsUsers/img/logotitle-removebg-preview.png" />
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">        
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- Css Styles -->
<link rel="stylesheet" type="text/css" href="stylesheetsUsers/stylesheet/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/elegant-icons.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/nice-select.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/slicknav.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/style.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/formlogin.css">



    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/stylesheetAdminandRes/img/logotitle-removebg-preview.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/stylesheetAdminandRes/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <!-- Helpers -->
    <script src="/stylesheetAdminandRes/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/stylesheetAdminandRes/js/config.js"></script>


   
</head>

<body>

  <div id="navbar-guest">
    <%- include('Navbar/navbar-guest') %>
  </div>

    <!-- Form Register -->
    <div class="container my-5" style=" box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);">
      <div class="row">
        <div class="col-md-6" style="padding-left: 0;">
          <img src="../stylesheetsUsers/images/logo.png" 
          alt="Form Image" 
          class="form-image"
          style=" box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);"
          >
        </div>
        <div class="col-md-6 p-0">

        <% if(messages.error) {%>
            <div role="alert" class="alert alert-danger text-center mt-3" style="font-size: 18px;">
              <%= messages.error%>
            </div>
        <% } %>
        <% if(messages.success) {%>
            <div role="alert" class="alert alert-success text-center mt-3" style="font-size: 18px;">
              <%= messages.success%>
            </div>
        <% } %>
        <% if(messages.message) {%>
            <div role="alert" class="alert alert-warning text-center mt-3" style="font-size: 18px;">
              <%= messages.message%>
            </div>
        <% } %>

          <div class="registration-form mt-4">
            <h2 class="mb-4">สมัครสมาชิก</h2>
            <form class="login-form" action="/Register" method="post">
              <div class="form-group">
                <label for="name">ชื่อจริง</label>
                <input type="text" class="form-control" id="name" name="name" maxlength="50" placeholder="กรุณาใส่ชื่อจริง (โปรดใส่คำนำหน้า)" onkeyup="checkName()" required>
                <span id="nameError" style="color: red;"></span>
              </div>
              <div class="form-group">
                <label for="lastname">นามสกุล</label>
                <input type="text" class="form-control" id="lname" name="lastname" maxlength="50" placeholder="กรุณาใส่นามสกุล" onkeyup="checkLastName()" required>
                <span id="lnameError" style="color: red;"></span>
              </div>
              <div class="form-group">
                <label for="email">อีเมล์</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="กรุณาใส่อีเมล์ เช่น jame@gmail.com" onkeyup="checkEmail()" required>
                <span id="emailError" style="color: red;"></span>
              </div>
              <div class="form-group">
                <label for="username">ชื่อผู้ใช้</label>
                <input type="text" class="form-control" id="username" name="username" maxlength="50" placeholder="กรุณาใส่ชื่อผู้ใช้" onkeyup="validateUsername()" required>
                <span id="usernameError" style="color: red;"></span>
                <p id="errorusername" style="color: red;"></p>
              </div>
              <div class="form-group">
                <label for="psw">รหัสผ่าน</label>
                <input type="password" class="form-control" id="psw" name="psw" maxlength="50" placeholder="กรุณาใส่รหัสผ่าน"  onkeyup="checkPassword()"required>
                <span id="passwordError" style="color: red;"></span>
              </div>
              <div class="form-group">
                <label for="confpsw">ยืนยันรหัสผ่าน</label>
                <input type="password" class="form-control" id="confpsw" name="confpsw" maxlength="50" placeholder="กรุณาใส่ยืนยันรหัสผ่าน" onkeyup="validatePassword()" required>
                <span id="passwordError2" style="color: red;"></span>
              </div>
              <div class="form-group">
                <label for="phonenumber">เบอร์โทรศัพท์</label>
                <input type="text" class="form-control" id="phone" name="phonenumber" maxlength="10" placeholder="กรุณาใส่เบอร์โทรศัพท์ โดยที่ไม่ต้องใส่ '-' เช่น 095456123" onkeyup="validatePhone()" required>
                <span id="phoneError" style="color: red;"></span>
              </div>
              <div class="accept my-3">
                <input type="checkbox"required>  &nbsp;
                <a href="#" style="text-decoration: none; color: #000;" data-bs-toggle="modal"
                data-bs-target="#modalToggle">
                  ฉันยอมรับเงื่อนไขเว็บไซต์นี้แล้ว
                </a>
              </div>
             


               <div class="mb-3 col-md-6">
                           
                            <div
                            class="modal fade"
                            id="modalToggle"
                            aria-labelledby="modalToggleLabel"
                            tabindex="-1"
                            style="display: none"
                            aria-hidden="true"
                          >
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  ></button>
                                </div>
                                <div class="modal-body">
                                  <label for=""><h4>ข้อกำหนดการใช้งาน</h4></label>
                                  <hr>
                                  <h6 style="text-align: justify; color:black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้ใช้งานจะต้องอ่านข้อกำหนดการใช้งานนี้ก่อนการใช้งานเว็บไซต์โดยผู้ใช้งานรับทราบและตกลงว่าการเข้าใช้งานส่วนหนึ่งส่วนใดของเว็บไซต์นี้เป็นการตกลงและยินยอมในการปฏิบัติตามข้อกำหนดและเงื่อนไขต่างๆดังต่อไปนี้บริษัทในกลุ่มของสะดวกจองรวมถึงบริษัทย่อยและบริษัทในเครือ(“เรา”หรือ“สะดวกจอง”)เป็นผู้บริหารจัดการเว็บไซต์ www.www.saduakchong.com และแอพพลิเคชั่น(App)(“เว็บไซต์”)เมื่อท่านเข้าใช้และ/หรือใช้งานส่วนหนึ่งส่วนใดของเว็บไซต์ท่านรับทราบว่าท่านได้อ่านเข้าใจ และตกลงที่จะผูกพันตามข้อกำหนดการใช้งาน(“ข้อกำหนด”)และข้อกำหนดและเงื่อนไขอื่นๆ ที่เกี่ยวข้องกับเว็บไซต์ที่ได้อ้างอิงถึงในข้อกำหนดนี้หากท่านไม่ตกลงผูกพันตามข้อกำหนดนี้ ท่านจะไม่สามารถเข้าใช้หรือใช้งานส่วนหนึ่งส่วนใดของเว็บไซต์ ข้อกำหนดนี้เป็นข้อตกลงที่มีผลผูกพันทางกฎหมายระหว่างท่านซึ่งเป็นผู้ใช้งานที่เป็นบุคคลธรรมดา(“ท่าน”หรือ“ผู้ใช้งาน”)และสะดวกจอง และท่านต้องมีอายุอย่างน้อยสิบแปด(18)ปีบริบูรณ์จึงจะสามารถใช้งานเว็บไซต์นี้ได้
                                    สะดวกจองขอแจ้งให้ท่านทราบว่า เราอาจเปลี่ยนแปลงแก้ไข เพิ่มเติมและลบข้อกำหนดนี้ได้ตลอดเวลาเพื่อการปฏิบัติตามกฎหมายและหลักเกณฑ์ใดๆที่เรามีผลผูกพันจะต้องปฏิบัติตามหรือเพื่อให้ข้อกำหนดนี้สอดคล้องกับการแก้ไขเปลี่ยนแปลงเกี่ยวกับการให้บริการและการดำเนินการเชิงปฏิบัติการต่างๆโดยสะดวกจองจะใช้ความพยายามตามสมควรในการแจ้งให้ผู้ใช้งานทราบเกี่ยวกับการแก้ไขเพิ่มเติมข้อกำหนดอย่างมีนัยสำคัญบนเว็บไซต์อย่างไรก็ดีเมื่อท่านเข้าใช้งานเว็บไซต์ทุกครั้งกรุณาตรวจสอบข้อกำหนดนี้เพื่อท่านจะได้มั่นใจว่าท่านได้อ่านและพิจารณาข้อกำหนดฉบับล่าสุด การที่ท่านยังคงใช้งานส่วนหนึ่งส่วนใดของเว็บไซต์ภายหลังจากการแก้ไขเพิ่มเติมข้อกำหนด ให้ถือว่าท่านตกลงและยินยอมกับการแก้ไขเพิ่มเติมดังกล่าว
                                    หากท่านใช้บริการอื่นๆ ของสะดวกจองนอกเหนือจากที่กำหนดไว้ในข้อตกลงนี้ สะดวกจองจะจัดให้มีข้อตกลงที่ใช้บังคับกับบริการอื่นๆ เมื่อท่านใช้งานและดำเนินการให้ท่านตอบรับข้อตกลงเกี่ยวกับการใช้งานบริการอื่นๆนั้นด้วย 
                                  </h6><br>
                                    
                                    <h6 style="text-align: justify;color:black;"><b>1.การใช้เว็บไซต์และทรัพย์สินทางปัญญา</b></h6><br>
                                    <h6 style="text-align: justify;color:black;">&nbsp;&nbsp;&nbsp;
                                      1.1&nbsp;บรรดาข้อมูลที่ปรากฏในเว็บไซต์นี้ซึ่งรวมถึงแต่ไม่จำกัดเฉพาะข้อความ รูปภาพ ตารางข้อมูล กราฟ ราคาหรือมูลค่าหลักทรัพย์(ถ้ามี)เครื่องหมายการค้ากราฟิกต่างๆเสียงการออกแบบหน้าจอแอปพลิเคชันการออกแบบส่วนต่อประสานกับผู้ใช้(Interface)ข้อมูลต่างๆไม่ว่าจะอยู่ในรูปแบบใดโปรแกรมซอฟต์แวร์ใดๆที่มีอยู่ในเว็บไซต์นี้รวมถึงข้อมูลทั้งหลายที่ผู้ใช้งานได้ดาวน์โหลดจากเว็บไซต์นี้(ซึ่งต่อไปนี้จะรวมเรียกว่า “เนื้อหา”)ถือเป็นสิทธิของสะดวกจองหรือผู้ให้อนุญาตแก่สะดวกจองซึ่งเนื้อหาเหล่านั้นได้รับความคุ้มครองด้านทรัพย์สินทางปัญญาและ/หรือสิทธิในความเป็นเจ้าของอื่นๆตามกฎหมายของประเทศไทยและ/หรือกฎหมายของประเทศอื่นไม่ว่าในรูปแบบใดๆและไม่ว่าจะได้รับการจดทะเบียนไว้แล้วหรือไม่ก็ตามทั้งนี้การนำชื่อทางการค้า เครื่องหมายการค้า เครื่องหมายบริการ และเครื่องหมายอื่นๆของสะดวกจองรวมถึงทรัพย์สินทางปัญญาใดๆที่ปรากฏในเว็บไซต์นี้ไปใช้ไม่ว่าจะด้วยวัตถุประสงค์ใดๆผู้ใช้งานจะต้องได้รับความยินยอมล่วงหน้าเป็นลายลักษณ์อักษรจากสะดวกจองก่อนดำเนินการ<br>
                                    </h6>
                                    <h6 style="text-align: justify;color:black;">
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.2&nbsp;บรรดาชื่อทางการค้า ชื่อสินค้า เครื่องหมายการค้า เครื่องหมายบริการ และเครื่องหมายอื่นๆ รวมถึงทรัพย์สินทางปัญญาอื่นใดที่ปรากฏในเว็บไซต์นี้ นอกเหนือจากสิ่งที่เป็นทรัพย์สินทางปัญญาของ สะดวกจอง ซึ่งได้ถูกนำมาเรียบเรียงหรือจัดให้มีขึ้นเพื่อใช้เป็นส่วนประกอบของเว็บไซต์นี้ มีขึ้นเพื่อวัตถุประสงค์ในการตกแต่งรูปลักษณ์ของเว็บไซต์โดยสะดวกจอง ในฐานะผู้ให้บริการเว็บไซต์ไม่ได้มีเจตนาที่จะกระทำการใดๆ อันเป็นการละเมิดสิทธิในทางการค้าหรือทรัพย์สินทางปัญญาของผู้ใด<br>
                                    </h6>
                                    <h6 style="text-align: justify;color:black;">
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.3&nbsp;เว้นแต่มีข้อความระบุไว้เป็นอย่างอื่นในเว็บไซต์นี้บรรดาเนื้อหาไฟล์หรือเอกสารที่ปรากฏในเว็บไซต์นี้ ผู้ใช้งานมีสิทธิเพียงเข้าดูดาวน์โหลด อัพโหลดเนื้อหาและพิมพ์เนื้อหาดังกล่าว เฉพาะเพื่อประโยชน์แก่การใช้งานในทางส่วนตัวและต้องไม่ใช่การใช้งานที่เป็นไปเพื่อประโยชน์ในทางการค้า และผู้ใช้งานตกลงไม่ทำสำเนา หรือจัดเก็บ หรือดาวน์โหลดเนื้อหาไม่ว่าจะในรูปของเอกสารหรือในรูปแบบสื่ออิเล็กทรอนิกส์อื่นใดอันมีวัตถุประสงค์เพื่อการส่ง โอน จัดทำ เผยแพร่ พิมพ์ ทำซ้ำ ดัดแปลง สร้างงานที่พัฒนา นำออกแสดง แพร่กระจาย จำหน่าย ให้สิทธิ เช่า ให้เช่า หรือโอนเนื้อหาใด ๆ ให้แก่บุคคลภายนอก ไม่ว่าการกระทำดังกล่าวจะเป็นไปเพื่อประโยชน์ในทางการค้าหรือได้รับประโยชน์เป็นสิ่งตอบแทนอื่นใดหรือไม่ก็ตาม เว้นแต่จะได้รับความยินยอมเป็นลายลักษณ์อักษรล่วงหน้าจาก สะดวกจอง ก่อนดำเนินการ
                                    </h6><br>


                                    <h6 style="text-align: justify;color:black;"><b>2.การยกเลิกบริการ (Cancellations)</b></h6><br>
                                    <h6 style="text-align: justify;color:black;">
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.1&nbsp;เมื่อท่านจองสั่งซื้อ หรือ สำรองบริการผ่านทางเว็บไซต์ ให้ถือว่าท่านยอมรับและตกลงกับกับข้อตกลงและเงื่อนไขต่างๆ ของผู้ขายหรือผู้ให้บริการนั้นๆ รวมถึง นโยบายต่างๆ ของผู้ขายหรือผู้ให้บริการเกี่ยวกับการยกเลิกบริการ และ/หรือ กรณีที่ท่านไม่แสดงตนเพื่อเข้ารับบริการ หรือ คำขอโดยเฉพาะเจาจงที่ท่านได้แจ้งไว้ต่อผู้ขายหรือผู้ให้บริการสะดวกจองจะไม่รับผิดชอบในกรณีที่ท่านฝ่าฝืนไม่ปฏิบัติตามข้อตกลงและเงื่อนไขของผู้ขายหรือผู้ให้บริการดังกล่าว หรือ กรณีที่เกี่ยวกับคำขอโดยเฉพาะเจาะจงของผู้ใช้งานดังนั้นกรุณาอ่านข้อตกลงและเงื่อนไขต่างๆของผู้ขายหรือผู้ให้บริการโดยละเอียดก่อนที่ท่านจะดำเนินการจองสั่งซื้อหรือสำรองบริการต่างๆผ่านทางเว็บไซต์
                                    </h6><br>
                                    <h6 style="text-align: justify;color:black;">&nbsp;&nbsp;2.2&nbsp;ในกรณีที่ผู้ใช้งานยกเลิกบริการและสะดวกจองจะต้องคืนเงิน (refunds) ให้แก่ผู้ใช้งานรวมถึงการคืนเงินเข้าบัญชีบัตรเครดิตและภายใต้สิทธิต่างๆของท่านตามกฎหมายสะดวกจองอาจหักค่าใช้จ่ายหรือคิดค่าใช้จ่ายจากผู้ใช้งานโดยจะหักค่าใช้จ่ายต่างๆตามสมควรที่เกิดขึ้นจากการยกเลิกบริการและหักจากเงินค่าบริการที่ท่านชำระไว้แล้วก่อนดำเนินการคืนเงินหรือคืนเงินเข้าบัญชีบัตรเครดิตของผู้ใช้งาน
                                    </h6> <br>


                                    <h6 style="text-align: justify;color:black;"><b>
                                      3.คำขอพิเศษ
                                    </b></h6> <br>
                                    <h6 style="text-align: justify;color:black;">
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.1&nbsp;ในกรณีที่ท่านมีคำขอพิเศษใดๆเกี่ยวกับการจอง(เช่น ต้องการให้มีการเตรียมเซอร์ไพรส์วันเกิดหรือโปรแกรมอื่นๆ ที่คล้ายคลึงกันขอตรวจสอบจำนวนที่นั่งที่ยังว่างในร้านอาหาร ขออุปกรณ์หรือเครื่องมือพิเศษสำหรับแพ็กเกจทัวร์หรือบริการอื่นๆที่คล้ายคลึงกัน)ผู้ใช้งานสามารถติดต่อร้านอาหารหรือผู้ให้บริการโดยตรงทั้งนี้ร้านอาหารหรือผู้ให้บริการจะใช้ดุลพินิจในการพิจารณาคำขอของท่าน โดยอาศัยความพร้อมในการให้บริการและปัจจัยอื่นๆเพื่อพิจารณาคำขอดังกล่าว  ท่านรับทราบว่าท่านอาจจะต้องเสียค่าใช้จ่ายและ/หรือค่าธรรมเนียมเพิ่มเติมตามที่ผู้ขายหรือผู้ให้บริการจะคิดเพิ่มเติมตามดุลพินิจและ/หรือนโยบายของผู้ขายหรือผู้ให้บริการนั้นๆ และสะดวกจองจะไม่รับผิดชอบเกี่ยวกับความพร้อมในการให้บริการและ/หรือการดำเนินการตามคำขอพิเศษของท่านโดยร้านอาหารหรือผู้ให้บริการ
                                    </h6><br>
                                    <h6 style="text-align: justify;color:black;">
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.2&nbsp;ในกรณีที่ผู้ใช้งานขอเปลี่ยนแปลงการใช้บริการ(รวมถึงการไม่ไปเอง)หากการจองเดิมของท่านไม่สามารถใช้ได้แล้ว (รวมถึงแต่ไม่จำกัดเฉพาะ กรณีที่ท่านได้ใช้หรือขอคืนเงินค่าคูปองโดยสารหรือบัตรเข้าใช้บริการแล้ว) สะดวกจองขอสงวนสิทธิในการยกเลิกการจองใหม่ของท่านที่ดำเนินการผ่านขั้นตอนการขอเปลี่ยนแปลงการใช้บริการ
                                    </h6><br>


                                    <h6 style="text-align: justify;color:black;"><b>
                                      4.ราคาและการส่งเสริมการขาย(โปรโมท)
                                    </b></h6> <br>
                                    <h6 style="text-align: justify;color:black;">
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.1&nbsp;เราอาจเสนอค่าบริการในราคาถูกกว่าปกติและ/หรือมีรายการส่งเสริมการขายต่างๆเป็นครั้งคราว อย่างไรก็ดี ท่านรับทราบว่ากรณีบริการราคาถูกกว่าปกติและ/หรือรายการส่งเสริมการขายต่างๆนั้นอาจมีเงื่อนไขหรือข้อกำหนดที่แตกต่างไปจากกรณีปกติโดยเฉพาะอย่างยิ่งเงื่อนไขเกี่ยวกับการจองและนโยบายการคืนเงิน
                                    </h6><br>
                                    <h6 style="text-align: justify;color:black;">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.2&nbsp;ในกรณีที่ผู้ขายหรือผู้ให้บริการจัดการส่งเสริมการขายเองโดยตรง สิทธิและอำนาจจัดการเกี่ยวกับรายการส่งเสริม การขายนั้นๆ จะเป็นไปตามข้อตกลงและเงื่อนไขต่างหากของผู้ขายหรือผู้ให้บริการ และการจองหรือการสำรองบริการของท่านที่ดำเนินการผ่านสะดวกจอง จะไม่ได้รับสิทธิตามรายการส่งเสริมการขายของผู้ขายหรือผู้ให้บริการนั้นๆ
                                    </h6><br>

                                    <h6 style="text-align: justify;color:black;"><b>
                                      5.กฎหมายที่ใช้บังคับ
                                    </b></h6> <br>
                                    <h6 style="text-align: justify;color:black;">
                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.1&nbsp;ข้อกำหนดนี้ (และข้อพิพาทใดๆ หรือ ข้อพิพาททั้งปวง ที่เกิดจากหรือเกี่ยวข้องกับข้อกำหนดนี้ (รวมถึงแต่ไม่จำกัดเฉพาะ ข้อกล่าวหาว่าปฏิบัติผิดข้อกำหนด หรือ กรณีมีข้อโต้แย้งเกี่ยวกับการมีผลและการใช้บังคับข้อกำหนดนี้))ให้อยู่ภายใต้บังคับและการตีความตามกฎหมายของประเทศไทย
                                    </h6><br>
                                </div>
                              </div>
                            </div>
                            </div>
                          </div>




              <div class="button">
                <center><button type="submit" class="btn btn-success">ยืนยัน</button></center>
              </div>
            </form>
            
            <div class="footerlogin ml-5">
              <p style="margin-left: 40px;">เว็บไซต์นี้ทำเพื่อเป็นชิ้นงานในวิชาโปรเจ็คจบเท่านั้น</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Form Register -->

     <!-- Footer Section Begin -->
     <%- include('footer') %>
     <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../stylesheetsUsers/js/jquery-3.3.1.min.js"></script>
    <script src="../stylesheetsUsers/js/bootstrap.min.js"></script>
    <script src="../stylesheetsUsers/js/jquery.nice-select.min.js"></script>
    <script src="../stylesheetsUsers/js/jquery-ui.min.js"></script>
    <script src="../stylesheetsUsers/js/jquery.slicknav.js"></script>
    <script src="../stylesheetsUsers/js/mixitup.min.js"></script>
    <script src="../stylesheetsUsers/js/owl.carousel.min.js"></script>
    <script src="../stylesheetsUsers/js/main.js"></script>
     <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/stylesheetAdminandRes/vendor/libs/jquery/jquery.js"></script>
    <script src="/stylesheetAdminandRes/vendor/libs/popper/popper.js"></script>
    <script src="/stylesheetAdminandRes/vendor/js/bootstrap.js"></script>
    <script src="/stylesheetAdminandRes/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

 



    

  
    <script>
     
    const usernameInput = document.getElementById('username');
    const resultElement = document.getElementById('errorusername');

    usernameInput.addEventListener('input', async function() {
      const username = this.value.trim();
      if (username === '') {
        resultElement.innerText = '';
        return;
      }

      if(usernameInput<6){
        resultElement.textContent = 'ชื่อใช้ห้ามน้อยกว่า 6 ตัว';
      }else{
        resultElement.textContent = '';
      }
      const response = await fetch(`/check-username/${username}`);
      const data = await response.json();

      if (data.exists) {
        resultElement.textContent = 'มีผู้ใช้นี้แล้ว';
      } else {
        resultElement.textContent = 'ใช้ผู้ใช้นี้ได้ ';
      }
    });



      function checkName() {// name
      var nameInput = document.getElementById("name").value;
      var containsNumber = /\d/;
      var containsSpecialCharacter = /[!@#$%^&*(),.?":{}|<>]/;

      if (containsNumber.test(nameInput) || containsSpecialCharacter.test(nameInput)) {
        document.getElementById("nameError").textContent = "ชื่อไม่สามารถมีตัวเลขหรือเครื่องหมายพิเศษได้";
      } else {
        document.getElementById("nameError").textContent = "";
      }
    }

    function checkLastName() {// lastname
      var nameInput = document.getElementById("lname").value;
      var containsNumber = /\d/;
      var containsSpecialCharacter = /[!@#$%^&*(),.?":{}|<>]/;

      if (containsNumber.test(nameInput) || containsSpecialCharacter.test(nameInput)) {
        document.getElementById("lnameError").textContent = "นามสกุลไม่สามารถมีตัวเลขหรือเครื่องหมายพิเศษได้";
      } else {
        document.getElementById("lnameError").textContent = "";
      }
    }

    function validateUsername() {// check username
      var username = document.getElementById("username").value;
      var usernameError = document.getElementById("usernameError");
      var usernameRegex = /[!@#$%^&*(),.?":{}|<>]/;
      var userthai =/[ก-๙]/;

      if (usernameRegex.test(username)) {
        usernameError.textContent  = "ชื่อผู้ใช้ไม่สามารถมีเครื่องหมายพิเศษได้";
      }else if (userthai.test(username)) {
        usernameError.textContent  = "ชื่อผู้ใช้ไม่สามารถใช้ภาษาไทยได้";
      } else {
        usernameError.textContent  = "";
      }
    }
    function checkPassword() {// password
        var passwordInput = document.getElementById("psw").value;
        var specialCharacters = /[*\-!@#$%^&]/;
  
        if (specialCharacters.test(passwordInput)) {
          document.getElementById("passwordError").textContent  = "รหัสผ่านไม่สามารถมีข้อมูลพิเศษ เช่น /*-!@#$%^& ได้";
        } else if(passwordInput<6){
          document.getElementById("passwordError").textContent  = "รหัสห้ามน้อยกว่า 6 ตัว";
        } else {
        document.getElementById("passwordError").textContent  = "";
        }
      }
    function validatePassword() { //check psw
      var password1 = document.getElementById("psw").value;
      var password2 = document.getElementById("confpsw").value;
      var passwordError = document.getElementById("passwordError2");

      if (password1 === password2) {
        if(password2<6){
          passwordError.textContent  = "รหัสห้ามน้อยกว่า 6 ตัว";
        } else {
          passwordError.textContent  = "";
        }
      } else {
        passwordError.textContent  = "รหัสผ่านไม่ตรงกัน";
      }

      
    }
    

    function checkEmail() { //email
      var emailInput = document.getElementById("email").value;
      var emailError =  document.getElementById("emailError");
      var emailRegex = /[ก-๙]/;
    
      if (emailRegex.test(emailInput)) {
        emailError.textContent = "อีเมลไม่ถูกต้องหรือใช้ภาษาไทย";
      } else {
        emailError.textContent = ""; // ลบข้อความแสดงผลทิ้ง
      }

      
    }

    function validatePhone() { //phone
      var phoneInput = document.getElementById("phone").value;
      var phoneRegex = /^[0-9]*$/;

      if (phoneRegex.test(phoneInput)) {
        document.getElementById("phoneError").textContent = "";
      } else {
        document.getElementById("phoneError").textContent = "เบอร์โทรศัพท์ต้องประกอบด้วยตัวเลขเท่านั้น";
      }
    }

  

    
    </script>
</body>
</html>
