<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="../stylesheetsUsers/img/logotitle-removebg-preview.png" />
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">        

<!-- Css Styles -->
<link rel="stylesheet" type="text/css" href="stylesheetsUsers/stylesheet/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/elegant-icons.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/nice-select.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/slicknav.min.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/style.css">
<link rel="stylesheet" type="text/css" href="../stylesheetsUsers/stylesheet/formlogin.css">

<title>เข้าสู่ระบบ</title>
</head>
<body>
  
  <div id="navbar-guest">
    <%- include('Navbar/navbar-guest') %>
  </div>



    <!-- Form login -->
    <div class="container my-5">
     
      <div class="login-container">
        <div class="login-header">
          <img src="../stylesheetsUsers/img/logo1.png" alt="Logo" width="250">
          <h3>เข้าสู่ระบบ</h3>
        </div>
        <% if(messages.error) {%>
          <div role="alert" class="alert alert-danger text-center mt-3" style="font-size: 18px;">
            <%= messages.error%>
          </div>
      <% } %>
      <% if(messages.success) {%>
          <div role="alert" class="alert alert-success text-center mt-3" style="font-size: 18px;">
            <%= messages.success%>
          </div>
      <% } %>
      <% if(messages.message) {%>
          <div role="alert" class="alert alert-warning text-center mt-3" style="font-size: 18px;">
            <%= messages.message%>
          </div>
      <% } %>
        <form class="login-form" action="/Login" method="post">
          <div class="form-group">
            <label for="username">ชื่อผู้ใช้งาน</label>
            <input type="text" placeholder="กรุณาใส่รหัสสมาขิก" name="username" style="width: 530px;">
          </div>
          <div class="form-group">
            <label for="psw">รหัสผ่าน</label>
            <input type="password" placeholder="กรุณาใส่รหัสผ่าน" name="psw" style="width: 530px;">
          </div>
          <div class="saveid">
            <input type="checkbox" class="mt-1">
            <label for="checkbox">จดจำฉัน</label>
          </div>
          <a href="/Forgetpassword" style="float: right; color: black; font-weight: 600;">ลืมรหัสผ่าน</a>
          <br><br>
          <div class="button">
            <center><button type="submit" class="btn btn-primary mr-4"><b>เข้าสู่ระบบ</b></button></center>
          </div>
          <div class="footerlogin">
            <center><p>คุณมีบัญชีแล้วหรือไม่ กดคลิ๊กที่นี่ > <a href="/FormRegister" style="color: black; font-weight: 900;">สมัครสมาชิก</a> < </p></center>
          </div>
        </form>
      </div>
    </div>
    <!-- Form login -->

    <!-- Footer Section Begin -->
    <%- include('footer') %>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../stylesheetsUsers/js/jquery-3.3.1.min.js"></script>
    <script src="../stylesheetsUsers/js/bootstrap.min.js"></script>
    <script src="../stylesheetsUsers/js/jquery.nice-select.min.js"></script>
    <script src="../stylesheetsUsers/js/jquery-ui.min.js"></script>
    <script src="../stylesheetsUsers/js/jquery.slicknav.js"></script>
    <script src="../stylesheetsUsers/js/mixitup.min.js"></script>
    <script src="../stylesheetsUsers/js/owl.carousel.min.js"></script>
    <script src="../stylesheetsUsers/js/main.js"></script>

</body>
</html>
