<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>แก้ไขรายละเอียดร้านอาหาร | สะดวกจอง</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/stylesheetAdminandRes/img/logotitle-removebg-preview.png" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/stylesheetAdminandRes/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/stylesheetAdminandRes/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <!-- Helpers -->
    <script src="/stylesheetAdminandRes/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/stylesheetAdminandRes/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper --> 
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/admin/mainadmin" class="app-brand-link">
              <span class="app-brand-text demo menu-text fw-bolder ms-2"><img src="/stylesheetAdminandRes/img/logo1.png" alt=""></span>
            </a>
          </div>

          <ul class="menu-inner py-1">
            <!-- หน้าหลัก -->
            <li class="menu-item">
                <a href="../resturant/" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-home-circle"></i>
                  <div data-i18n="Analytics">หน้าหลัก</div>
                </a>
              </li>
  
              <!-- เมนูจัดการต่างๆ -->
              <li class="menu-header small text-uppercase">
                <span class="menu-header-text">เมนูจัดการต่างๆ</span>
              </li>
              <!-- จัดการร้านอาหาร -->
              <li class="menu-item active">
                <a href="../resturant/Profile" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-user-circle"></i>
                  <div data-i18n="Layouts">ข้อมูลร้านอาหาร</div>
                </a>
              </li>
              <!-- ตรวจสอบสถานะ -->
              <li class="menu-item">
                <a href="../resturant/ListCustomer" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-user-circle"></i>
                  <div data-i18n="User interface">รายชื่อลูกค้าที่มาร้าน</div>
                </a>
              </li>
              <!-- เติมพอยต์ -->
              <li class="menu-item">
                <a href="../resturant/calendar" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-calendar"></i>
                  <div data-i18n="Basic">ปฏิทิน</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="../resturant/Promotion" class="menu-link">
                  <i class="menu-icon tf-icons bx bxs-coupon"></i>
                  <div data-i18n="Basic">โปรโมชั่น</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="../resturant/ResturantAddPoint" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-collection"></i>
                  <div data-i18n="Basic">เติมแต้ม</div>
                </a>
              </li>
              <li class="menu-item">
                <a href="../resturant/promote" class="menu-link">
                  <i class="menu-icon tf-icons bx bxs-coupon"></i>
                  <div data-i18n="Basic">โปรโมท</div>
                </a>
              </li>
              <!-- รายงาน -->
              <li class="menu-item">
                <a href="../resturant/ReportBook" class="menu-link">
                  <i class="menu-icon tf-icons bx bx-file"></i>
                  <div data-i18n="User interface">รายงาน</div>
                </a>
              </li>
          </ul>
        </aside>
        <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->

        <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">

          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
              <i class="bx bx-menu bx-sm"></i>
            </a>
          </div>

          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <i class="em em-ramen" aria-role="presentation" aria-label="STEAMING BOWL"></i><h4 class="text-muted fw-light mt-3 mx-2">จัดการร้านอาหาร / <b>แก้ไขรายละเอียดร้านอาหาร</b></h4><i class="em em-ramen" aria-role="presentation" aria-label="STEAMING BOWL"></i>
            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <li class="nav-item lh-1 me-3">
                <a
                  href="../resturant/ResturantAddPoint"
                  class="btn btn-danger"
                  data-show-count="true"
                  style="height: 30px; padding-top: 3px; color: white; text-align: center;"
                  ><%=point%><i class="bx bxs-parking" style="vertical-align: sub;"></i></a
                >
              </li>
              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <% if (imgres === 'NULL') {%>
                      <center><img src="/images/profileNon.png" alt="img" style="height: 40px; width: 40px; border-radius: 50%;"></center>
                      <%}else{%>
                      <center><img src="/uploads/profileRes/<%= imgres %>" alt="img" style="height: 40px; width: 40px; border-radius: 50%;"> </center>
                      <% } %>
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="../resturant/Profile">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar avatar-online">
                            <% if (imgres === 'NULL') {%>
                              <center><img src="/images/profileNon.png" alt="img" style="height: 40px; width: 40px; border-radius: 50%;"></center>
                              <%}else{%>
                              <center><img src="/uploads/profileRes/<%= imgres %>" alt="img" style="height: 40px; width: 40px; border-radius: 50%;"> </center>
                              <% } %>
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <span class="fw-semibold d-block"><%=name%></span>
                          <small class="text-muted">ร้านอาหาร</small>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/resturant/logout">
                      <i class="bx bx-power-off me-2"></i>
                      <span class="align-middle">ออกจากระบบ</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--/ User -->
            </ul>
          </div>
        </nav>

        <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);"> รายละเอียดข้อมูลร้านอาหาร</a>
                    </li>
                  </ul>
                  <div class="card mb-4">
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start justify-content-center align-items-sm-center gap-4">
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                      <form action="/resturant/update/" method="post" enctype="multipart/form-data">
                        <% if (img === 'NULL') {%>
                            <center><img src="../images/profileNon.png" alt="Nonprofile" style="height: 150px; width: 150px; border-radius: 50%;"></center>
                        <%}else{%>
                            <center><img src="/uploads/profileRes/<%= img %>" alt="img" style="height: 150px; width: 150px; border-radius: 50%;"> </center>
                        <% } %>
                        <br>
                        <center><input type="file"  name="Profile" required></center>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">คำนำหน้า</label>
                            <select class="select2 form-select form-control" name="owner_profile" id="owner_profile">
                              <option value="นาย">นาย</option>
                              <option value="นาง">นาง</option>
                              <option value="นางสาว">นางสาว</option>
                            </select>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="text" class="form-label">ชื่อร้านอาหาร</label>
                            <input class="form-control" type="text" placeholder="<%=nameres%>" name="res_name"/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">ชื่อเจ้าของร้าน</label>
                            <input class="form-control" type="text" placeholder="<%=Owner_Name%>" name="owner_name" required/>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="state" class="form-label">อีเมล์ร้านอาหาร</label>
                            <div class="input-group input-group-merge">
                              <input
                                class="form-control"
                                type="email"
                                placeholder="<%=email%>" name="res_email" required 
                              />
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phoneNumber">นามสกุลเจ้าของร้าน</label>
                            <input
                              class="form-control"
                              type="text"
                              placeholder="<%=Owner_Lname%>" name="owner_lname" required 
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">ที่อยู่</label>
                            <textarea class="form-control" type="text" placeholder="ที่อยู่" name="res_address" required></textarea>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="password" class="form-label">อีเมลเจ้าของร้าน</label>
                            <input type="email" class="form-control" placeholder="<%=Owner_Email%>" name="owner_email" required/>
                          </div>
                          
                          <div class="mb-3 col-md-6">
                            <label for="zipCode" class="form-label">เบอร์โทรร้านอาหาร</label>
                            <input
                              type="tel"
                              class="form-control"
                              placeholder="<%=phone%>" name="res_phone" required 
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="language" class="form-label">เบอร์โทรเจ้าของร้าน</label>
                            <div class="input-group input-group-merge">
                              <input
                                class="form-control"
                                type="tel"
                                placeholder="<%=Owner_Phone%>" name="owner_phone" required 
                              />
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="currency" class="form-label">ประเภทร้านอาหาร</label>
                            <select name="res_status" id="res_status" class="select2 form-select form-control">
                              <option value="" >ประเภทร้านอาหาร</option>
                              <option value="ร้านอาหารตามสั่ง">ร้านอาหารตามสั่ง</option>
                              <option value="ร้านบุฟเฟต์">ร้านบุฟเฟต์</option>
                              <option value="ร้านหมูกระทะ">ร้านหมูกระทะ</option>
                              <option value="ร้านหมูจุ่ม">ร้านหมูจุ่ม</option>
                            </select>
                          </div>
                        </div>
                        <div class="mt-4 text-center">
                          <button type="submit" class="btn btn-success me-2">บันทึกข้อมูล</button>
                          <a href="../Resturant/Profile"><button type="button" class="btn btn-primary me-2">ยกเลิก</button></a>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <%- include('../AdminRestaurantV2/html/layouts/footer') %>
              <!-- / Footer --> 

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/stylesheetAdminandRes/vendor/libs/jquery/jquery.js"></script>
    <script src="/stylesheetAdminandRes/vendor/libs/popper/popper.js"></script>
    <script src="/stylesheetAdminandRes/vendor/js/bootstrap.js"></script>
    <script src="/stylesheetAdminandRes/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/stylesheetAdminandRes/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="/stylesheetAdminandRes/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="/stylesheetAdminandRes/js/main.js"></script>

    <!-- Page JS -->
    <script src="/stylesheetAdminandRes/js/dashboards-analytics.js"></script>
  </body>
</html>

